.card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #030e1d 0%, #34546d 100%);
  color: white;
  padding-bottom: 6px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 1px 3px 2px #34546d;

  img {
    width: 100px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 1px 2px 5px #111;
  }

  & .service_heading {
    margin: 5px 8px;
  }

  & .service_description {
    margin: 3px 8px;
  }

  & button {
    margin-bottom: 6px;
    border: none;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: #111;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2px);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;

      transition: all 0.5s;
    }

    &:hover::before {
      background-color: #34546d;
    }
  }
}

@media (min-width: 769px) {
  .card_wrapper {
    width: 30%;
  }
}
