<div class=" w-full flex gap-3">
    <div class="left border-yellow-300 border-2 border-dotted w-1/3 flex-wrap sm:max-md:flex-col">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim deserunt rerum voluptatem expedita at laborum
            culpa beatae quod quia quasi?
        </p>
    </div>
    <div class="mid border-orange-400 border-2 border-double w-1/3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente tempora earum, nihil tenetur nobis veniam.
        </p>
    </div>
    <div class="right border-purple-500 border-2 border-solid w-1/3">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi sit, illo id adipisci, dicta pariatur
            repellendus incidunt reprehenderit recusandae dignissimos nostrum dolores eligendi, dolorum voluptate
            debitis. Pariatur harum ullam sapiente quo iure aperiam illo quia, velit autem eius excepturi laboriosam?
        </p>
    </div>
</div>